<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>TripWithMe 페이지</title>

    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">
    <script th:src="@{/js/html5.js}"></script>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="http://code.jquery.com/jquery-migrate-3.0.0.js"></script>
    <script th:src="@{/js/slick.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="my-4">여행리스트</h1>
        <div th:each="destination : ${destinations}" class="destination">
            <div class="image-container">
                <img th:src="@{${destination.trip_imageUrl}}" th:alt="${destination.trip_name}" class="img-fluid">
            </div>
            <div class="info-container">
                <h2 th:text="${destination.trip_name}"></h2>
                <p th:text="${destination.trip_description}"></p>
                <p><strong>위도:</strong> <span th:text="${destination.trip_lat}"></span></p>
                <p><strong>경도:</strong> <span th:text="${destination.trip_lng}"></span></p>
                <p><strong>지역:</strong> <span th:text="${destination.trip_address}"></span></p>
                <p><strong>운영시간:</strong> <span th:text="${destination.trip_day}"></span></p>
            </div>
        </div>
    </div>
</div><!--wrap-->
</body>

</html>
